[package]
name = "age-plugin-yubikey"
description = "[BETA] YubiKey plugin for age."
version = "0.0.0"
authors = ["Jack Grigg <thestr4d@gmail.com>"]
repository = "https://github.com/str4d/age-plugin-yubikey"
readme = "README.md"
keywords = ["age", "cli", "encryption", "yubikey"]
categories = ["command-line-utilities", "cryptography"]
license = "MIT OR Apache-2.0"
edition = "2018"

[dependencies]
age-core = "0.5"
age-plugin = "0.0"
base64 = "0.13"
bech32 = "0.7"
chrono = "0.4"
console = "0.13"
dialoguer = "0.7"
elliptic-curve = "0.6"
gumdrop = "0.8"
hex = "0.4"
p256 = "0.5"
rand = "0.7"
ring = "0.16.15"
secrecy = "0.7"
sha2 = "0.9"
yubikey-piv = { version = "0.1.0", features = ["untested"] }

[patch.crates-io]
age-core = { git = "https://github.com/str4d/rage.git", rev = "d8fd951e059d9f7116b2b9dd0d176798a11b49f3" }
age-plugin = { git = "https://github.com/str4d/rage.git", rev = "d8fd951e059d9f7116b2b9dd0d176798a11b49f3" }
